.section {
    height: 250px;
    background-color: #FEFEEC;
    padding: 0 15px;
    position: relative;
}

.remoteWorkBlock {
    width: 70%;
    height: 120px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.remoteWorkBlock p {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.remoteWorkBlock button {
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin: 50px auto;
}