.section {
    background-color: #FEFEEC;
    padding: 20px 0;
}

.remoteWorkBlock {
    margin: 0 auto;
}

.remoteWorkBlock p {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.remoteWorkBlock button {
    background-color: #333333;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin: 20px auto 0 auto;
}