.footer {
    height: 400px;
    background-color: #EBFFE2;
    padding: 0 15px;
    position: relative;
}

.footerBlock {
    width: 70%;
    height: 280px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerBlock p {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 24px;
}

.footerBlock img {
    width: 80px;
}
