.footer {
    background-color: #333333;
}
.footer p {
    text-align: center;
    color: white;
    font-weight: bold;
}
.nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.nav ul {
    list-style: none;
}

.nav ul li {

}

.nav ul li a {

    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    transition: 0.3s all;

}

.nav ul li a:hover {
    background-color: #777777;
    font-size: 28px;
    color: #cccccc;
    transform: translateY(-10px);
}